/* img setting */
img {
    position: relative;
}

/* used in home-page */
.home-bg {
    /* DO NOT use position: absolute; */
    width: 100%;
    height: 100%;
    /* background-image: url(./image/home_page.jpg); */

    background-position: top;
    background-size: cover;
    /* this made img can cover all elts. without exception */
    background-repeat: no-repeat;

    scroll-behavior: smooth;
    
}
.home-bg-cover {
    position: absolute;
    width: 100%;
    height: calc((95vh - 2px));
    max-height: calc((100vh - 40px));

    background: rgba(255, 255, 255, 0.0);
}
.motiva-img { width: 100%;}

/* template demo setting */
/* they are not in using */
.bg-container {
    height: calc(95vh - 40px);
    max-height: calc(100vh - 40px);
}

#motiva-bg-1 {
    background-image: url("./image/home-motiva-1.png");
    top: 5%;
    height: 75%;
    width: 90%;
    
    background-attachment: scroll;
    background-position: 20% 50%;
    background-size: 110%;
    background-repeat: no-repeat;
    opacity: 1;
}
#motiva-bg-2 {
    background-image: url("./image/home-motiva-2.png");
    top: 5%;
    height: 75%;
    width: 90%;
    
    background-attachment: scroll;
    background-position: 20% 0%;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;

}

/* other and widget for editting */
.air { height: calc(4*(95vh));}
.air4 {
    height: calc((95vh));
    position: relative;
}
.showboxshape_1 { border: 1px solid red !important;}
.showboxshape_2 { border: 1px solid blue !important;}
.showboxshape_3 { border: 1px solid green !important;}

