/* main setting */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
}

a {
    display: block;

        /* Internet Explorer 10 */
        display:-ms-flexbox;
        -ms-flex-pack:center;
        -ms-flex-align:center;
    
        /* Firefox */
        display:-moz-box;
        -moz-box-pack:center;
        -moz-box-align:center;
    
        /* Safari, Opera, and Chrome */
        display:-webkit-box;
        -webkit-box-pack:center;
        -webkit-box-align:center;
    
        /* W3C */
        display:box;
        box-pack:center;
        box-align:center;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

/* 這裡本來用來做些特效，但會和AOS這個套件衝突，所以放棄使用 */

/* html { 
-ms-scroll-snap-type: y proximity;
    scroll-snap-type: y proximity;
} */
    /* body won't work ¯\_(ツ)_/¯ */
    /* Although I'm told that html doesn't work in Safari 
       and body does, so maybe use both? */
body {
/* -ms-scroll-snap-type: y proximity;
    scroll-snap-type: y proximity; */

    overflow-x: hidden ;
}

section {
    /* height: min(calc((95vh - 2px)), calc((100vh - 40px))); */
    height: calc((95vh));
    max-height: calc((100vh - 40px));

    scroll-snap-align: end; /* beauty but dangerous */
    scroll-snap-stop: always;
}
    /* stolen from css-trick */

.container {
    margin: 0%;
    min-width: 900px;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
}

.footer {
    padding: 0px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    
}

/* following are specialized */
/* home page */
.home-container {
    height: calc((95vh));
    max-height: calc((100vh - 40px));
    
}

.motiva-container {
    margin: 0 5% 0 5%;
    vertical-align: middle;
    overflow: hidden;
}

.v-center {
    vertical-align: middle;
    justify-content: middle;
    align-items: middle;
}

#home-name-1 {
    position: relative;
    width: 100%;
    margin-top: 20vh;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 10vh;
    line-height: 10vh;
    text-align: left;
    
    text-shadow: 0px 6px 4px rgba(78, 82, 90, 0.80);

    animation-name: home-name-showup;
    animation-duration: 1.5s;
} @keyframes home-name-showup {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
}

#home-name-2 {
    position: relative;
    width: 100%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: min(6vh, 60px);
    line-height: min(6vh, 60px);
    text-align: left;
    
    text-shadow: 0px 6px 4px rgba(78, 82, 90, 0.80);
}

#home-intro-1 {
    position: relative;
    width: 100%;
    padding: 50px 10% 0 10%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: min(calc(3vh), 30px);
    line-height: min(calc(4vh), 40px);

    text-shadow: 0px 6px 4px rgba(78, 82, 90, 0.80);

    animation-name: home-intro-showup;
    animation-duration: 2s;
} @keyframes home-intro-showup {
    0%   {opacity: 0%;}
    50%  {opacity: 0%;}
    100% {opacity: 100%;}
}

#home-motiva-1 {
    position: relative;
    width: 100%;
    padding: 0 10% 0 10%;
    vertical-align: middle;

    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: min(calc(3vh), 30px);
    line-height: min(calc(4vh), 40px);

    text-shadow: 0px 6px 4px rgba(78, 82, 90, 0.80);
}

.home-menu {
    padding-left: 0em !important;
}

.home-menu-box {
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgba(231, 231, 231, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    height: 100%;

    cursor: pointer;
}

.home-menu-box + #upload {
    background: rgba(78, 82, 90, 0.4);
}

.home-menu-box a {
    height: 100%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 3vw !important;

    color: rgba(78, 82, 90, 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    text-align: center !important;
    vertical-align: middle !important;
}

.home-menu-box + #upload a {
    color: rgba(255, 255, 255, 1);
}

.home-menu-box a:hover,
.home-menu-box + #upload a:hover {
    color:  rgba(193, 133, 31, 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}


/* FUTURE */
.slide-container {
    height: calc((95vh));
    max-height: calc((100vh - 40px));
    margin-right: 10vw;
    margin-left: 10vw;
    overflow: hidden;
}

.slide-container button {
    height: 100%;
    width: 15%;
}

#carousel-habitat {
    margin: auto auto auto auto;
    width: calc(95vh*1.5);
    max-width: 90%;
    z-index: 2;
}

.slide-content {
    background: rgba(0, 0, 0, 0.45);
    padding: 2px 20px 2px 20px;
    border-radius: 5px;

    animation-duration: 1s;
    animation-name: unblacken;
} @keyframes unblacken {
    0%   {background-color: rgba(0, 0, 0, 1);}
    100% {background-color: rgba(0, 0, 0, 0.45);}
}

.slide-content:hover {
    background: rgba(0, 0, 0);

    animation-duration: 1s;
    animation-name: blacken;
} @keyframes blacken {  
    0%   {background-color: rgba(0, 0, 0, 0.45);}
    100% {background-color: rgba(0, 0, 0, 1);}
}

.slide-content h1 { font-size: min(20px, 2vw);}
.slide-content p { font-size: min(16px, 1.6vw);}

/* issue page */
/* 沿用大部分homepage設定 */
#issue-content-1 {
    position: relative;
    width: 100%;
    padding: 0 10% 0 10%;
    vertical-align: middle;

    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: min(calc(2.5vh), 25px);
    line-height: min(calc(3vh), 30px);

    text-shadow: 0px 6px 4px rgba(78, 82, 90, 0.80);
}

/* display method */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.d-none {
    display: none;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.jcsb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.jcse {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}


/* color control*/
/* bg-xxxxx has been use in bootstrap */
.bgc-primary { background-color: rgb(0, 0, 0);}
.bgc-secondary { background-color: rgba(0, 201, 173, 0.1);}
.bgc-cover-primary { background: rgba(255, 255, 255, 0.2)}
.bgc-cover-secondary { background: rgba(255, 255, 255, 0)}
.color-primary { color: #4E525A;}
.color-secondary { color: #27292D;}
.color-light { color: #fff;}
.color-muted { color: #93827E;}

/* main elt. */

.article {
    font-family: 'Noto Sans TC', sans-serif;
    height: calc((95vh));
    max-height: calc((100vh - 40px));
}

.v-mid {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.h-mid {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.txt-center {
    /* make single childelt. at the center of parent*/
    /* if has multi elt to set, use a div to package them */

    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.mt-60 { margin-top: 60px;}
.mt-30 { margin-top: 30px;}

.mb-30 { margin-bottom: 30px;}
.mb-60 { margin-bottom: 60px;}


/* Contact */

#contact_list {
    font-family: Russo One;
    color: #27292D;
}

#Insitution {
    padding: 20px;
    margin: 40px
}
#Insitution h1::before{
    background-image: url('./image/white-bird-shape.png');
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    display: inline-block;
    content: "";
    transform: translate(-200px,15px);
    z-index: -500;
    position: absolute;

    
}

/* model page */

#model_intro {
    font-family: Roboto;
    
}

#model_intro h1 {
    font-family: Russo One;
}

/* function */

#step:after {
    content: "arrow_forward_ios";
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    transform: translate(120px, 120px);
    z-index: -500;
    position: absolute;

    border: #4E525A solid 1px
}


#counting {
    color: #4E525A;
    font-family: Russo One;
    font-size: 36px;
    text-align: center;
    display:flex;
  align-items:center;
  justify-content:center;
}



#loading-bird{
display:flex;
  align-items:center;
  justify-content:center;
  width:600px;
  height:600px;
  background-image:url('./image/white-bird-shape.png');
background-size: 300px 300px;
background-repeat: no-repeat;
background-position:46.5% 58%;
}

#result_title{
    color: #4E525A;
    font-family: Russo One;
    font-size: 36px;
    text-align: center;
    display:flex;
  align-items:center;
  justify-content:center;
  height:60px;
  width: 450px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgb(236,220,194);

}

#counting_result{
    color: #4E525A;
    font-family: Russo One;
    font-size: 36px;
    text-align: center;
    display:flex;
  align-items:center;
  justify-content:center;
  top:180px;

}

